AWS_PROFILE=<aws-profile>
AWS_REGION=<aws-region>
AWS_DEFAULT_REGION=<aws-region>
PROJECT_NAME=healthcare-realtime-monitoring
TF_STATE_BUCKET=<terraform-state-bucket>
TF_STATE_KEY=healthcare-realtime-monitoring/terraform/terraform.tfstate
TF_BOOTSTRAP_STATE_KEY=healthcare-realtime-monitoring/terraform/bootstrap/terraform.tfstate
DATA_BUCKET_NAME=<project-data-bucket>
MWAA_SOURCE_BUCKET_NAME=<project-mwaa-source-bucket>

GITHUB_REPOSITORY=<github-owner>/<repository>
GITHUB_DEPLOYMENT_ENVIRONMENT=development
AWS_DEPLOY_ROLE_ARN=<github-deployment-role-arn>

FHIR_BASE_URL=http://replace_with_hapi_alb/fhir
FHIR_WEBHOOK_SECRET=replace_with_webhook_secret
FHIR_WEBHOOK_SECRET_ID=healthcare-realtime/fhir-webhook
FHIR_WEBHOOK_SECRET_KEY=FHIR_WEBHOOK_SECRET
FHIR_WEBHOOK_URL=https://replace_with_webhook_url
KINESIS_STREAM_NAME=healthcare_realtime_vitals
